@{
	var roleid = ViewBag.RoleId;
}

@{
	//int countsp = HttpContext.Session.GetInt32("countspcart") ?? 0;
}
<!DOCTYPE html>
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<html lang="en">	
<head>
	<title>Shoppers &mdash; Colorlib e-Commerce Template</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
	<link rel="stylesheet" href="~/fonts/icomoon/style.css">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/aos.css">
	<link rel="stylesheet" href="~/css/style.css">

</head>
<body>

	<div class="site-wrap">
		<header class="site-navbar" role="banner">
			<div class="site-navbar-top">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
							<form asp-action="Search" asp-controller="Product" method="get" class="site-block-top-search">
								<span class="icon icon-search2"></span>
								<input type="text" class="form-control border-0" placeholder="Search" name="search">
							</form>
						</div>

						<div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
							<div class="site-logo">
								<a href="index.html" class="js-logo-clone">Shoppers</a>
							</div>
						</div>
						

						@if (User.IsInRole("User"))
						{
							<div class="col-6 col-md-4 order-3 order-md-3 text-right">
								<div class="site-top-icons">
									<ul>
										<li><a asp-controller="User" asp-action="Index"><span class="icon icon-person"></span></a></li>
										<li><a asp-controller="FavoriteProducts" asp-action="Index"><span class="icon icon-heart-o"></span></a></li>
                                        <li>
                                            <a asp-controller="Cart" asp-action="Index" class="site-cart">
                                                <span class="icon icon-shopping_cart"></span>
												
                                            </a>
                                        </li>
										<li>
											<a asp-controller="Checkour" asp-action="billUser">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
													<path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
													<path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
												</svg>
											</a>
										</li>

									</ul>
								</div>
							</div>
						}else if (User.IsInRole("Admin"))
						{
							<div class="col-6 col-md-4 order-3 order-md-3 text-right">
								<div class="site-top-icons">
									<ul>
										<li><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Quay về</a></li>
									</ul>
								</div>
							</div>
						}
						else
						{
							<div class="col-6 col-md-4 order-3 order-md-3 text-right">
								<div class="site-top-icons">
									<ul>
										<li><a asp-controller="Login" asp-action="Login"><span class="icon icon-person"></span></a></li>

									</ul>
								</div>
							</div>
						}

					</div>
				</div>
			</div>
			<nav class="site-navigation text-right text-md-center" role="navigation">
				<div class="container">
					<ul class="site-menu js-clone-nav d-none d-md-block">
						<li class="has-children">
							<a asp-controller="Home" asp-action="Index">Trang chủ</a>
							<ul class="dropdown">
								<li><a href="#">Women</a></li>
								<li><a href="#">Children</a></li>	
								<li><a href="#">Men</a></li>
							</ul>
						</li>
						<li class="active"><a asp-controller="Product" asp-action="Index">Shop</a></li>
						<li><a asp-controller="FavoriteProducts" asp-action="topsp">Top sản phẩm</a></li>
						
					</ul>
				</div>
			</nav>
		</header>
		<div>
			<ul class="site-menu js-clone-nav d-none d-md-block">
							
			</ul>
		</div>
		<div>
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>

		<footer class="site-footer border-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mb-5 mb-lg-0">
						<div class="row">
							<div class="col-md-12">
								<h3 class="footer-heading mb-4">Navigations</h3>
							</div>
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled">
									<li><a href="#">Sell online</a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Shopping cart</a></li>
									<li><a href="#">Store builder</a></li>
								</ul>
							</div>
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled">
									<li><a href="#">Mobile commerce</a></li>
									<li><a href="#">Dropshipping</a></li>
									<li><a href="#">Website development</a></li>
								</ul>
							</div>
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled">
									<li><a href="#">Point of sale</a></li>
									<li><a href="#">Hardware</a></li>
									<li><a href="#">Software</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
						<h3 class="footer-heading mb-4">Promo</h3>
						<a href="#" class="block-6">
							<img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
							<h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
							<p>Promo from  nuary 15 &mdash; 25, 2019</p>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="block-5 mb-5">
							<h3 class="footer-heading mb-4">Contact Info</h3>
							<ul class="list-unstyled">
								<li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
								<li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
								<li class="email">emailaddress@domain.com</li>
							</ul>
						</div>

						<div class="block-7">
							<form action="#" method="post">
								<label for="email_subscribe" class="footer-heading">Subscribe</label>
								<div class="form-group">
									<input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
									<input type="submit" class="btn btn-sm btn-primary" value="Send">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/jquery-ui.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/main.js"></script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>